# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# dependencies
node_modules/

# debug
npm-debug.log*

# TypeScript cache
*.tsbuildinfo

# dotenv environment variable files
.env
.env.local
.env.*.local

# data.json
data.json